# Java Files#
*.class

# Package Files #
*.jar
*.war
*.ear

# Project Files #
.gitconfig
.DS_Store
gradle.properties
.idea/
.gradle/1.6/taskArtifacts/
.gradle/1.8/taskArtifacts/
.gradle/1.10/taskArtifacts/
/local.properties
bin
gen
build
target